/*CLASS*/

.footer {
	/*background-color: #b8d2e3;*/
	margin			: 5px 0 20px 0;
	padding			: 10px 5px 50px 5px;
	text-align		: left;

	/*-moz-border-radius		: 4px;*/
	/*-webkit-border-radius	: 4px;*/
	/**/
	/*box-shadow: 1px 1px 1px #000;	*/
	/*-moz-box-shadow: 1px 1px 1px #000; /* Firefox */*/
	/*-webkit-box-shadow: 1px 1px 1px #000; /* Safari and Chrome */*/
}
